.wrapper {
	overflow: hidden;
	/* min-height: 100%; */
	position: relative;
}

body {
	background: url('../img/nightsky.jpg') 0 0 / cover no-repeat;
}


footer {
	height: 800px;
}

.footer__container {
	width: 1200px;
	margin: 0 auto;
}

.cubelwagen {
	width: 800px;
	height: 500px;
	position: relative;
	top: 200px;
	left: 5%;
	perspective: 400px;
	transform-style: preserve-3d;
	animation: 10s approach 2s infinite;
	transform: translate(-2000px);
}

.cubelwagen :active .shine {
	background: radial-gradient(ellipse at center, #fefcea 0%, #f1da36 100%);
	;
}

.spoiler__shape-shadow {
	width: 250px;
	height: 20px;
	background: #3b4429;
	border: 2px solid #262a1c;
	transform: skew(30deg, 0);
	box-shadow: 0px 2px 3px #000;
}

.spoiler__shape {
	width: 250px;
	height: 25px;
	background: #3b4429;
	border: 2px solid #262a1c;
	position: absolute;
	top: 20px;
}

.element__square {
	width: 60px;
	height: 30px;
	border: 2px solid #262a1c;
	border-bottom: none;
	background: #1e3719;
	position: absolute;
	z-index: 2;
	top: -5px;
	left: -40px;
	transform: rotateY(-30deg);
}

.element__triangle {
	width: 60px;
	height: 35px;
	border: 2px solid #262a1c;
	border-top: none;
	background: #1e3719;
	position: absolute;
	z-index: 2;
	top: 25px;
	left: -40px;
	transform: rotateY(-30deg);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 57% 100%);
}

.element--moved {
	position: absolute;
	left: 270px;
	top: 0;
	z-index: -1;
}

.roof__border {
	border-bottom: 75px solid #1f1f1f;
	border-left: 32px solid transparent;
	border-right: 32px solid transparent;
	height: 0;
	width: 320px;
	position: absolute;
	z-index: 0;
	top: 2px;
	left: -30px;
}

.roof__side {
	border-bottom: 80px solid #000;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	height: 0;
	width: 330px;
	position: absolute;
	z-index: 3;
	top: 15px;
	left: 50px;
}



.roof__left {
	border-bottom: 65px solid #2b2b2b;
	border-left: 29px solid transparent;
	border-right: 29px solid transparent;
	height: 0;
	width: 300px;
	position: absolute;
	z-index: 4;
	top: 5px;
	left: -20px;
}

.roof__center {
	height: 75px;
	border: 1px solid #000;
	border-top: none;
	border-bottom: none;
	transform: rotate(20deg);
	position: absolute;
	top: 0;
	left: 70px;
	z-index: 5;
	background: #1f1f1f;
	width: 5px;
}

.roof__right {
	height: 75px;
	border: 1px solid #000;
	border-top: none;
	border-bottom: none;
	transform: rotate(17deg);
	position: absolute;
	top: 0;
	left: 180px;
	z-index: 5;
	background: #1f1f1f;
	width: 7px;
}

.roof__front {
	width: 250px;
	height: 80px;
	position: absolute;
	background: #1f1f1f;
	z-index: 3;
	top: 15px;
	left: 361px;
	transform: skew(25deg, 0);
	border: 2px solid #000;
}

.roof__inside {
	width: 240px;
	height: 75px;
	position: absolute;
	background: #2b2b2b;
	z-index: 3;
	top: 0px;
	left: 5px;
	border: 2px solid #000;
}

.wipper :first-child {
	width: 70px;
	height: 5px;
	background: #000;
	border-radius: 5px;
	position: absolute;
	top: 70px;
	left: 400px;
	z-index: 6;
}

.wipper :nth-child(2) {
	width: 60px;
	height: 5px;
	background: #000;
	border-radius: 5px;
	position: absolute;
	top: 65px;
	left: 430px;
	z-index: 6;
}

.wipper :last-child {
	width: 30px;
	height: 5px;
	background: #000;
	border-radius: 5px;
	position: absolute;
	top: 75px;
	left: 480px;
	z-index: 6;
	transform: rotate(55deg);
}

.wipper--moved {
	position: absolute;
	left: 100px;
	top: 0;
}

.hood__main {
	width: 230px;
	height: 80px;
	background: #3b432b;
	transform: skew(70deg);
	position: absolute;
	top: 80px;
	right: 100px;
}

.hood__main :first-child {
	width: 20px;
	height: 20px;
	background: #3e402b;
	position: absolute;
	top: 30px;
	right: 80px;
	border: 1px solid #000;
	z-index: 7;
}

.hood__main :nth-child(2) {
	width: 10px;
	height: 25px;
	background: #262f1c;
	position: absolute;
	top: 30px;
	right: 100px;
	z-index: 8;
	border: 1px solid #000;
	transform: skew(-40deg) rotate(-10deg);
}

.hood__main :last-child {
	width: 7px;
	height: 28px;
	background: #000;
	position: absolute;
	top: 38px;
	right: 95px;
	z-index: 8;
	border: 1px solid transparent;
	border-radius: 25px;
	transform: skew(-70deg) rotate(90deg);
}

.hood__left {
	width: 230px;
	height: 15px;
	background: #292d1f;
	position: absolute;
	top: 110px;
	right: 230px;
	border: 2px solid #000;
	box-shadow: 0 2px 3px #000;
	border-bottom: none;
	border-top: none;
	transform: skew(20deg, 0) rotate(25deg);
}

.hood__front {
	width: 240px;
	height: 16px;
	background: #3c442c;
	position: absolute;
	top: 157px;
	right: -10px;
	border-radius: 25px;
	border: 1px solid #000;
	transform: rotate(0deg);
	box-shadow: 0px 3px 2px #000;
}

.nose {
	width: 230px;
	height: 100px;
	background: #3c442c;
	transform: skew(-10deg);
	position: absolute;
	right: 4px;
	top: 175px;
	border: 1px solid #000;
}


.shape :first-child {
	position: absolute;
	top: 45px;
	right: 160px;
	width: 80px;
	height: 8px;
	background: #3e4130;
	border: 1px solid #000;
	transform: rotate(-90deg);
	border-radius: 20px;
	box-shadow: 0px 3px 2px #000 inset;
}

.shape :nth-child(2) {
	position: absolute;
	top: 45px;
	right: 125px;
	width: 80px;
	height: 8px;
	background: #3e4130;
	border: 1px solid #000;
	transform: rotate(-90deg);
	border-radius: 20px;
	box-shadow: 0px 3px 2px #000 inset;
}

.shape :nth-child(3) {
	position: absolute;
	top: 45px;
	right: 4px;
	width: 80px;
	height: 8px;
	background: #3e4130;
	border: 1px solid #000;
	transform: rotate(-90deg);
	border-radius: 20px;
	box-shadow: 0px 3px 2px #000 inset;
}

.shape :last-child {
	position: absolute;
	top: 45px;
	right: -25px;
	width: 80px;
	height: 8px;
	background: #3e4130;
	border: 1px solid #000;
	transform: rotate(-90deg);
	border-radius: 20px;
	box-shadow: 0px 3px 2px #000 inset;
}

.mark :first-child {
	position: absolute;
	top: 45px;
	right: 80px;
	width: 40px;
	height: 8px;
	background: #3e4130;
	border: 1px solid #000;
	transform: rotate(180deg);
	box-shadow: 0px 3px 2px #000 inset;
}

.mark :nth-child(2) {
	position: absolute;
	top: 30px;
	right: 92px;
	width: 20px;
	height: 10px;
	background: #3e4130;
	border: 1px solid #000;
	transform: rotate(90deg);
}

.mark :last-child {
	position: absolute;
	top: 5px;
	right: 92px;
	width: 20px;
	height: 20px;
	background: #3e4130;
	border: 1px solid #000;
	border-radius: 50%;
}

.booster {
	animation: 0.5s bass infinite;
}

.booster :first-child {
	position: absolute;
	top: 60px;
	right: 60px;
	width: 30px;
	height: 30px;
	background: #141416;
	border: 1px solid #000;
	border-radius: 50%;
}

.booster :nth-child(2) {
	position: absolute;
	top: 60px;
	right: 100px;
	width: 30px;
	height: 30px;
	background: #141416;
	border: 1px solid #000;
	border-radius: 50%;
}

.booster :nth-child(3) {
	position: absolute;
	top: 67px;
	right: 107px;
	width: 15px;
	height: 15px;
	background: #a5a8ad;
	border: 1px solid #000;
	border-radius: 50%;
}

.booster :last-child {
	position: absolute;
	top: 67px;
	right: 67px;
	width: 15px;
	height: 15px;
	background: #a5a8ad;
	border: 1px solid #000;
	border-radius: 50%;
}

.cubelwagen__bumber {
	width: 350px;
	height: 35px;
	background: #3b432b;
	position: absolute;
	top: 270px;
	right: -40px;
	border: 2px solid #000;
}

.cubelwagen__sign {
	width: 160px;
	height: 50px;
	background: #010101;
	position: absolute;
	top: 270px;
	right: 40px;
}

.cubelwagen__index {
	width: 100px;
	height: 5px;
	background: #fff;
	position: absolute;
	top: 310px;
	right: 70px;
	z-index: 3;
}

.cubelwagen__part {
	width: 80px;
	height: 80px;
	border: 2px solid #000;
	background: #3b432b;
	position: absolute;
	top: 200px;
	right: -20px;
	border-radius: 5px;
}

.signal {
	width: 20px;
	height: 10px;
	border: 1px solid #000;
	background: #a35912;
}

.signal--moved {
	position: absolute;
	top: 195px;
	right: -10px;
	border-radius: 5px;
	z-index: -1;
}

.light {
	background: radial-gradient(ellipse at center, #ffffff 0%, #e1e1e1 33%, #f1f1f1 55%, #f6f6f6 100%);
	width: 30px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	top: 210px;
	right: -20px;
	animation: 1.5s appear infinite linear;
}

.yellow-light {
	width: 5px;
	height: 5px;
	background: yellow;
	border-radius: 50%;
	position: absolute;
	top: 230px;
	right: -8px;
	box-shadow: 0px 1px 5px #000 inset;
}

.cubelwagen__corpus :first-child {
	width: 235px;
	height: 120px;
	border: 2px solid #000;
	background: #283219;
	position: absolute;
	top: 130px;
	right: 215px;
	border-radius: 5px;
	z-index: -1;
	transform: rotate(22deg);
}

.cubelwagen__corpus :nth-child(2) {
	width: 80px;
	height: 80px;
	border: 2px solid #000;
	border-left: none;
	background: #3b432b;
	position: absolute;
	top: 190px;
	right: 265px;
	border-radius: 5px;
	z-index: 1;
}

.cubelwagen__corpus :nth-child(3) {
	width: 130px;
	height: 10px;
	border: 2px solid #000;
	border-bottom: none;
	border-right: none;
	background: #3b432b;
	position: absolute;
	top: 190px;
	right: 330px;
	border-radius: 5px 0 0 0;
	z-index: 1;
}

.cubelwagen__corpus :nth-child(4) {
	width: 130px;
	height: 10px;
	border: 2px solid #000;
	border-top: none;
	border-right: none;
	border-left: none;
	background: #283219;
	position: absolute;
	top: 200px;
	right: 330px;
	z-index: 0;
}

.cubelwagen__corpus :nth-child(5) {
	width: 30px;
	height: 35px;
	border: 2px solid #000;
	border-right: none;
	background: #283219;
	position: absolute;
	top: 270px;
	right: 310px;
	z-index: 1;
	border-radius: 0 0 0 50px;
}

.cubelwagen__corpus :nth-child(6) {
	width: 40px;
	height: 57px;
	border: 2px solid #000;
	border-right: none;
	background: #283219;
	position: absolute;
	top: 210px;
	right: 345px;
	z-index: 1;
	border-radius: 0 0 0 50px;
	border: 3px solid #000;
}

.cubelwagen__corpus :nth-child(7) {
	width: 100px;
	height: 10px;
	background: #283219;
	position: absolute;
	top: 243px;
	right: 425px;
	z-index: 1;
	border: 3px solid #000;
	transform: rotate(-65deg);
}

.cubelwagen__corpus :nth-child(8) {
	width: 40px;
	height: 10px;
	background: #283219;
	position: absolute;
	top: 305px;
	right: 476px;
	z-index: 1;
	transform: rotate(-90deg);
	border: 3px solid #000;
}

.cubelwagen__corpus :nth-child(9) {
	width: 65px;
	height: 125px;
	background: #202214;
	position: absolute;
	top: 204px;
	right: 430px;
	z-index: -1;
	border-radius: 125px 75px 75px 0;
}

.cubelwagen__corpus :nth-child(10) {
	width: 200px;
	height: 20px;
	background: #202214;
	position: absolute;
	top: 310px;
	right: 500px;
	z-index: 1;
	border: 2px solid #000;
	border-radius: 80px 0 0 0;
}

.cubelwagen__corpus :nth-child(11) {
	width: 40px;
	height: 10px;
	background: #283219;
	position: absolute;
	top: 300px;
	left: -65px;
	z-index: 1;
	transform: rotate(-90deg);
	border: 3px solid #000;
}

.cubelwagen__corpus :nth-child(12) {
	width: 120px;
	height: 20px;
	background: #283219;
	position: absolute;
	top: 250px;
	left: 20px;
	z-index: 2;
	transform: rotate(-110deg);
	border: 3px solid #000;
}

.cubelwagen__corpus :nth-child(13) {
	width: 90px;
	height: 10px;
	background: #283219;
	position: absolute;
	top: 200px;
	left: -25px;
	z-index: 1;
	border: 3px solid #000;
}

.cubelwagen__corpus :nth-child(14) {
	width: 90px;
	height: 10px;
	background: #283219;
	position: absolute;
	top: 240px;
	left: -80px;
	z-index: 1;
	transform: rotate(-75deg);
	border: 3px solid #000;
}

.cubelwagen__corpus :nth-child(15) {
	width: 65px;
	height: 125px;
	background: #202214;
	position: absolute;
	top: 204px;
	right: 780px;
	z-index: -1;
	border-radius: 125px 75px 75px 0;
}

.light--move {
	width: 50px;
	position: absolute;
	top: 210px;
	right: 268px;
	z-index: 1;
}

.yellow-light--move {
	position: absolute;
	top: 230px;
	right: 285px;
	z-index: 1;
	width: 8px;
	height: 8px;
}

.signal--move {
	position: absolute;
	top: 180px;
	right: 315px;
	z-index: 1;
	border-radius: 20px 20px 0 0;
}

.signal--change {
	position: absolute;
	top: 180px;
	right: 325px;
	z-index: 0;
	border-radius: 20px 0px 0 0;
	border: 1px solid #000;
	background: #6e6c77;
}

.wheel--move {
	position: relative;
	top: 190px;
	left: 340px;
}

.wheel--moved {
	position: relative;
	top: 65px;
	left: 650px;
	z-index: -1;
}

.wheel--moving {
	position: relative;
	top: -73px;
	left: -20px;
	z-index: -1;
}

.wheel {
	perspective: 130px;
	transform-style: flat;
	position: relative;
}

.wheel :first-child {
	width: 130px;
	height: 130px;
	background: #181818;
	border: 2px solid #000;
	border-radius: 50%;
	transform: rotateY(-38deg);
	z-index: 1;
}

.wheel :nth-child(2) {
	position: absolute;
	top: 5px;
	left: 0px;
	width: 120px;
	height: 120px;
	background: #7c7c7c;
	border: 2px solid #000;
	border-radius: 50%;
	transform: rotateY(-38deg);
	z-index: 1;
}

.wheel :nth-child(3) {
	position: absolute;
	top: 35px;
	left: 35px;
	width: 100px;
	height: 100px;
	background: #000;
	border-radius: 50%;
	z-index: 0;
	transform: rotate(25deg);
}

.wheel :nth-child(4) {
	position: absolute;
	top: 85px;
	left: 43px;
	width: 50px;
	height: 50px;
	background: #000;
	z-index: 0;
}

.wheel :nth-child(5) {
	position: absolute;
	top: 10px;
	left: 4px;
	width: 110px;
	height: 110px;
	background: #292929;
	border: 2px solid #000;
	border-radius: 50%;
	transform: rotateY(-38deg);
	z-index: 3;
}



.triangle {
	position: relative;
	animation: 1s rotate infinite linear;
	transform-origin: 48% -6px;
	perspective: 40px;
	transform-style: flat;
}

.triangle__moved {
	position: relative;
	top: -130px;
	left: -360px;
}

.triangle__item {
	border-bottom: 8px solid transparent;
	border-Top: 8px solid transparent;
	border-left: 40px solid #808080;
	height: 20px;
}

.triangle :first-child {
	position: absolute;
	top: -50px;
	left: 367px;
	transform: rotate(-90deg);
}

.triangle :nth-child(2) {
	position: absolute;
	top: -20px;
	left: 395px;
}

.triangle :nth-child(3) {
	position: absolute;
	top: 10px;
	left: 383px;
	transform: rotate(45deg);
}

.triangle :nth-child(4) {
	position: absolute;
	top: 10px;
	left: 350px;
	transform: rotate(-220deg);
}

.triangle :nth-child(5) {
	position: absolute;
	top: -20px;
	left: 337px;
	transform: rotate(-180deg);
}

.triangle :nth-child(6) {
	position: absolute;
	top: -25px;
	left: 370px;
	width: 30px;
	height: 35px;
	background: #292929;
	border: 2px solid #000;
	border-radius: 50%;
	z-index: 3;
}

.under {
	position: relative;
}

.under :first-child {
	width: 220px;
	height: 155px;
	z-index: 0;
	background: #29311a;
	position: absolute;
	top: -250px;
	left: 90px;
}

.under :nth-child(2) {
	width: 340px;
	height: 85px;
	z-index: 0;
	background: #29311a;
	position: absolute;
	top: -320px;
	left: 38px;
	transform: skew(-20deg);
}

.under :nth-child(3) {
	width: 340px;
	height: 85px;
	z-index: -2;
	background: #29311a;
	position: absolute;
	top: -240px;
	left: 9px;
	transform: skew(-20deg);
}

.under :nth-child(4) {
	width: 130px;
	height: 75px;
	z-index: 1;
	background: #29311a;
	position: absolute;
	top: -285px;
	left: -15px;
	transform: skew(-20deg);
	border-radius: 20px 0 0 0;
	border: 2px solid #000;
	border-right: none;
	border-bottom: none;
}

.under :nth-child(5) {
	width: 200px;
	height: 20px;
	background: #202214;
	position: absolute;
	top: -150px;
	right: 495px;
	z-index: 2;
	border: 2px solid #000;
	border-radius: 80px 0 0 0;
}

.booster--moved {
	position: absolute;
	top: 90px;
	left: 150px;
	z-index: 5;
}

.door {
	position: relative;
}

.door :first-child {
	width: 105px;
	height: 120px;
	background: #29311a;
	position: absolute;
	top: -320px;
	left: 120px;
	transform: skew(-20deg);
	border-radius: 0 0 0 50px;
	border: 3px solid #000;
	box-shadow: 1px -1px 2px #000;
}

.door :nth-child(2) {
	width: 105px;
	height: 120px;
	background: #29311a;
	position: absolute;
	top: -320px;
	left: 240px;
	transform: skew(-20deg);
	border-radius: 0 0 0 50px;
	border: 3px solid #000;
	box-shadow: 1px -1px 2px #000;
}

.door :nth-child(3) {
	width: 40px;
	height: 20px;
	background: #29311a;
	position: absolute;
	top: -290px;
	left: 140px;
	border-radius: 50%;
	border: 3px solid #000;
	box-shadow: 1px -1px 2px #000 inset;
}

.door :nth-child(4) {
	width: 40px;
	height: 20px;
	background: #29311a;
	position: absolute;
	top: -290px;
	left: 260px;
	border-radius: 50%;
	border: 3px solid #000;
	box-shadow: 1px -1px 2px #000 inset;
}

.text {
	font-size: 80px;
	letter-spacing: 5px;
	color: #fff;
	text-shadow: 5px 5px 2px #000;
	position: relative;
	top: 100px;
	left: 700px;
	animation: 1s text linear forwards;
}

@keyframes text {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
		transform: scale(1.2);
	}

	100% {
		opacity: 1;
	}
}

@keyframes approach {
	0% {
		transform: translate(-1000px);
	}

	10% {
		transform: translate(0px);
	}

	90% {
		transform: translate(0px);
	}

	100% {
		transform: translate(2000px);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes bass {
	0% {
		transform: scale(1.0);
	}

	100% {
		transform: scale(1.05);
	}
}

@keyframes appear {
	0% {
		background: radial-gradient(ellipse at center, #ffffff 0%, #e1e1e1 33%, #f1f1f1 55%, #f6f6f6 100%);
		;
	}

	100% {
		background: radial-gradient(ellipse at center, #fefcea 0%, #f1da36 100%);
	}
}